@import "nprogress/nprogress.css";

#nprogress .bar {
  @apply bg-blue-primary;
}

* {
  scroll-behavior: smooth;
}

.swiper-button-next {
  @apply !text-blue-primary;
}

.swiper-button-prev {
  @apply !text-blue-primary;
}

.react-datepicker__day--selected {
  @apply !bg-blue-primary;
}

.react-datepicker__day--keyboard-selected {
  @apply !bg-blue-primary;
}

.ql-container {
  flex-grow: 1 !important;
  overflow: auto;
  min-height: 6rem;
  @apply bg-gray-50;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
